<div>
    <h2 class="handlee-regular createForm">Edit Note</h2>
    <form (ngSubmit)="update()" class="mb-3 createForm">
        <label for="title">Title : </label>
        <input type="text" id="title" class="input-group mb-3" [(ngModel)]="note.title" name="title" required>
        <label for="description">Description : </label>
        <textarea id="description" class="input-group mb-3" [(ngModel)]="note.description" name="description" required></textarea>
        <label for="color">Colour : </label>
        <input type="text" id="color" class="input-group mb-3" [(ngModel)]="note.color" name="color" required>
        <button type="submit">Edit</button>
        <button (click)="goBack()">Back</button>
    </form>
</div>