<div class="mt-5 text-center">
    <h2 class="handlee-regular">JotIt 🖊️</h2>
    <button routerLink="create">Create a new note</button>
    @if(note.length > 0){
    <div class="row main justify-content-center mt-5">
      <div *ngFor="let note of note" class="card h-100 m-3" [style]="getBgColor(note.color)" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title" style="font-size: 1.5rem;">Title : {{note.title}}</h5>
          <p class="card-text" style="font-size: 1.2rem;">Description : {{note.description}}</p>
          <p class="card-text" style="font-size: 0.9rem;">Created On : {{note.date}}</p>
          <button class="card-link" [routerLink]="'edit/' + note.id">Edit</button>
          <a (click)="deleteNote(note.id)" class="card-link">
            <button>Delete</button>
          </a>
        </div>
      </div>
    </div>
    }@else{
    <div class="alert alert-secondary mt-5 fs-4" role="alert">
      You don't have any notes yet. Please create a new note.
    </div>
    }
  </div>
  